

  
  .link {
    color: black;
    font-size: 22px;
    font-weight: 800;
    font-style: none;
    font-family: Arial;
    text-decoration: none;
    margin-right: 20px;
  padding: 10px;
    
  }
  
  .link:hover {
    background-color: white
  }
  
  .navigation {
    text-align: right;
  }
  
  .center {
    margin: 0 auto;
  
  }
  
  .container {
    width: 1024px;
    text-align: center;
  }
  
  a{
    text-decoration: none;
  }
  
  .table {
      border-width: 5px;
      border-color: green;
      border-style: solid;
      border-spacing: 0;
  }
  
  .table td {
    padding: 0;
    margin: 0;
    border-bottom-width: 2px;
    border-bottom-color: green;
    border-bottom-style: solid;
  }

  h1 {
    margin-top: 20;
    margin-bottom: 20;
    font-size: 12;

  }
  
  .background-green {
    background-color:rgb(233, 25, 171);
    font-size:10;
}


.form-group {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.tekst-area{
  max-width:400px;
  min-width:400px;
  min-height: 150px;
  max-height:150px;
}

.text-control {
  height: 40px;
  border-style: solid;
  border-radius: 8px;

}

.background-image {

  width:450px;
  height:300px;
  background-image:url( https://1.allegroimg.com/s512/0382af/f680590f43e58352187ff81f38a1/ROZCIAGLIWY-LUDZIK-wesoly-zolty-5-5-CM-wytrzymaly);
  background-repeat: no-repeat;
}

.background-image:hover{

background-image: url(https://majdanzabawek.pl/16968-large_default/bendable-smiler.jpg);
}