body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}


.header {
    background-color: #C9E8FC;
    font-size: 10px;
    font-family: Roboto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .link {
    color: #2113E6;
    font-size: 22px;
    font-weight: 700;
    font-family: Courier;
    margin-right: 20px;
    padding: 10px;
  }
  
  .link:hover {
    background-color: #5763E6;
    color: #fff;
  }
  
  .navigation {
    text-align: right;
  }
  
  .center {
      margin: 0 auto;
  }
  
  .container {
    width: 90%;
    text-align: center;
  }
  
  .table {
    border-width: 5px;
    border-color: #5763E6;
    border-style: solid;
    border-spacing: 0;
  }
  
  .table td {
    padding: 0;
    margin: 0;
    border-bottom-width: 2px;
    border-bottom-color: #5763E6;
    border-bottom-style: solid;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.2em;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9E8FC;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .button {
    padding: 10px 20px;
    color: white;
    background-color: #3C609E;
    border-radius: 10px;
    margin-top: 20px;
    border-style: none;
    border-width: 0;
  }

  .button:hover {
    background-color: #598EEB;
    cursor: pointer;
  }

  .form-group {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .form-group-checkbox {
    justify-content: flex-start;
  }

  .form-group-checkbox input {
    margin-right: 10px;
  }

  .textarea {
    max-width: 400px;
    min-width: 400px;
    min-height: 150px;
  }

  .text-control {
    height: 40px;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .text-control:focus {
    border: 2px solid #5763E6;
    outline: 0;
  }

  .background-image {
    width: 500px;
    height: 300px;
    background-image: url('images/hippo1.jpeg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;



    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }

  .background-image:hover {
    background-image: url('images/hippo2.jpg');
  }

  @media screen and (max-width: 768px) {
      .form-group {
        display: block;
        text-align: left;
      }

      .text-control {
        width: 100%;
        margin-top: 10px;
      }
  }

  /* Tablety */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
      background-color: blue;
    }
  }

  @media screen and (min-width: 1024px) {
    .header {
      background-color: green;
    }
  }